{% include '_header.html' %}

<h1 class="d-flex justify-content-center mb-4">Display</h1>
{% include '_form.html' %}

<table class="table">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  {% for item in cart %}
  <tr>
    <td>{{ item.product.name }}</td>
    <td>{{ item.quantity}}</td>
    <td>{{ item.product.price }}</td>
  </tr>
  {% endfor %}
</table>

<div class="d-flex align-items-end flex-column">
<p class="fw-bold">Total: $ {{ total }}</p>
</div>

<a href="/cash-register/checkout" class="btn btn-primary">Checkout</a>

{% include '_product_table.html' %}

{% include '_footer.html' %}
